* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}



.container {
}
.header_top {
}
.headerlogo {
}
.header_links {
}
.header_content {
}
.header_content-desc {
}
.sign-up-btn {
}
.header_content_image {
}