/*////////////////// GLOBAL //////////////////////// */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.link {
    transition: all .3s;
}

.link:hover {
    color: #68727f;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.sign-up-btn {
    display: inline-block;
    background-color: #3882f6;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: bold;
}

.sign-up-btn:hover {
    background-color: #fff;
    color: #3882f6;
}

.btn-revert{
    border: 2px solid;

}

/* ////////////////////// HEADER ///////////////////// */

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    background-color: #1F2937;
    padding: 20px 0;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 24px;
    font-weight: bold;
}

.header_links {
    display: flex;
    gap: 20px;
    
}.header_links a {
    color: #E5E7EB;
}


.header_content {
    display: flex;
    justify-content: space-between;
    padding: 15vh 0;
    color: #E5E7EB;

    
}

.header_content-desc {
    max-width: 450px;
}

.header_content-desc * {
    margin-bottom: 10px;
}

.header_content-desc h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}


.header_content_image {
    flex: 0 1 650px;
}

.header_content_image img {
    width: 100%;
    height: 250px;
}


/* ////////////////////// INFO ///////////////////// */

.info {
    text-align: center;
    padding: 70px 0 100px;
}
.info_title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 70px;
}
.info_cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 30px;
    
}
.card {
    max-width: 230px;
}
.card_image {
    overflow: hidden;
    border: 5px solid #3882f6;
    border-radius: 15px;
    height: 230px;
    margin-bottom: 10px;
    
}
.card_image img {
    width: 100%;
    
}

/* ////////////////////// QUOTE ///////////////////// */

.quote {
    background-color: #E5E7EB;
    padding: 100px 0;
}
.quote .container {
    padding: 0 150px;
}
.cite blockquote {
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.cite p {
    font-size: 24px;
    font-weight: 900;
    text-align: end;
}

/* ////////////////////// ACTION ///////////////////// */

.action {
    padding: 100px;
}

.action_box {
    background-color: #3882f6;
    border-radius: 15px;
    padding: 70px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}
.box-text {
    color: #fff;
}
